*
!.gitignore
!manifest.json
!index.html
!favicon.ico
!sw-client.js
!sw.js
!style.css
!style-settings.css
!style-details.css
!icon180x180.png
!icon192x192.png
!icon512x512.
!awsome-stack.svg
!awsome-strengths.svg
!robots.txt
!apple-touch-icon.png
!sitemap.xml
