.vscode
.git
vendor
*.log
.ignore.*
.gz
.zip
.sql
!/.gitignore
!/.lando.yml
!/composer.json
!/composer.lock
!/web
/web/*.php
/web/*.txt
/web/*.html
/web/wp-*
!/web/wp-config*.php
!/web/wp-content
/web/wp-content/*
!/web/wp-content/mu-plugins
/web/wp-content/mu-plugins/*
!/web/wp-content/plugins
/web/wp-content/plugins/*
!/web/wp-content/themes
/web/wp-content/themes/*

# Non-ignore list
!/web/wp-content/plugins/test


