h2{
    font-size: 6vmin;
    text-shadow: -0.1em 0.1em 0 var(--border-primary), 0.1em 0.1em 0 var(--border-primary), 0.1em -0.1em 0 var(--border-primary), -0.1em -0.1em 0 var(--border-primary);
    color:var(--font-primary);
    font-family: 'impact';
    font-weight: bolder;
    margin: 1em;
}
article {
    background-blend-mode: darken;
    border-radius: 3rem;
    box-shadow: 10px 10px 12px -3px rgb(0 0 0 / 75%);
    padding:1.5rem;
    margin: 1rem 0.5rem ;
    text-align: center;
}

article:nth-child(odd) {
    box-shadow: -10px -10px 12px 3px rgb(0 0 0 / 75%);
}

article img {
    max-width: 80vmin;
    max-height: 80vmin;
    
    min-width: 40vmin;
    min-height: 40vmin;
}

article p{
    width:100%;
    text-align: left;
}

.CONTACT {
    word-break: break-all;
}

footer{
    border-top:1em solid currentColor;
}