.card-bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type='checkbox']:not(:checked)+* .aria-expanded-toggle-true,
input[type='checkbox']:checked+* .aria-expanded-toggle-false,
[aria-expanded="false"] .aria-expanded-toggle-true,
[aria-expanded="true"] .aria-expanded-toggle-false {
  display: none !important;
}
.dropdown-toggle::after {
  display: none;
}

.fo {
  text-shadow: -0.04em -0.04em var(--bs-white), 0.04em -0.04em var(--bs-white), -0.04em 0.04em var(--bs-white), 0.04em 0.04em var(--bs-white);
}

header .nav-link {
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color); 
  --bs-navbar-active-color: var(--bs-link-hover-color);
}

.card figure {
  background-color: rgba(255,255,255, 0.5);
  border: 0px solid currentColor;
  border-radius: var(--bs-card-inner-border-radius);
}